{% extends "base.html" %}
{% block content %}
<h5 class="border-bottom pb-2 mb-3">{{current_category.name}}</h5>
<div class="content_block">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr class="text-center">
                <th>번호</th>
                <th style="width:40%">제 목</th>
                <th>소속</th>
                <th>조회수</th>
                <th>작성자</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            {% if boards %}
            {% for board in boards %} 
            <tr class="text-center">
                <!-- 번호 -->
                <td class="align-middle">
                    <span>{{forloop.revcounter}}</span>
                </td>
                <!-- 제목 -->
                <td class="text-left align-middle">                        
                    <a href="{{ board.get_absolute_url }}" class="subject-link">{{board.post_name}}</a>
                <!-- 소속 -->
                <td class="align-middle text-left small">
                    <small>{{board.post_author.company}}</small>
                </td>
                <td class="align-middle text-left small">
                    <small >{{board.counting}}</small>
                </td>
                <!-- 작성자 -->
                <td class="align-middle text-left small">
                    <small>{{board.post_author.user_name}}</small>
                </td>
                <!-- 날짜 -->
                <td class="align-middle" style="font-size:0.75em">
                    {% if board.updated_date == board.created_date%}
                    <small>{{board.created_date}}</small>
                    {% else %}
                    <small>{{board.updated_date}}(수정)</small>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <h4>  작성된 게시물이 없습니다.</h4>
            {% endif %}
            </tbody>
        </table>
        <a href="{% url 'App_Board:post_create' current_category.id %}" class="btn btn-sm text-light bg-dark" style="margin-left: 91%;">게시물 작성</a>
        {% if messages %}
        {% for message in messages %}
            <div class="row" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                <strong>{{ message.tags }}!</strong> {{ message.message }}
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>  
</div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
    <ul class="pagination justify-content-center pagination-sm">
        <!-- First 페이지 버튼 -->
        {% if page_obj.number != 1 %}
        <li class = "page-item">
            <a class = "page-link" href="{{ request.path }}?page=1">First</a>
        </li>
        {% endif %}
        <!-- First 페이지 버튼 끝-->

        <!-- Previous 페이지 버튼 -->
        <li class = "page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class = "page-link" href="{% if page_obj.has_previous %}{% url 'list' %}?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}" tabindex="-1"><</a>
        </li>
        <!-- Previous 페이지 버튼 끝 -->

        <!-- 페이지 중간 넘버 설정 -->
        {% for object in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == forloop.counter %} disabled {% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}       
                </a>
            </li>
        {% endfor %}
        <!-- 페이지 중간 넘버 설정 끝 -->

        <!-- Next 페이지 버튼 -->
        {% if page_obj.has_next %}
        <li class = "page-item">
            <a class = "page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">></a>
        </li>
        {% else %}
        <li class = "page-item disabled">
            <a class="page-link" href="#">></a>
        </li>
        {% endif %}
        <!-- Next 페이지 버튼 끝 -->

        <!-- Last 페이지 버튼 -->
        {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class = "page-item">
            <a class = "page-link" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
        <!-- Last 페이지 버튼 끝-->
    </ul>
    {% endif %}
{% endblock %}