{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">
        {% if board.category.name %} 
        {{board.category.name}} - 게시물 수정
        {% else %}
        {{current_category.name}} - 게시물 작성
        {% endif %}
    </h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="post_name" id="post_name"  placeholder="제목을 입력하세요" value="{{ board.post_name }}">
        </div>
        <div class="mb-3">
            <textarea class="form-control" style="height: 200px;" name="post_context" id="post_context" placeholder="내용을 입력하세요.">{{board.post_context}}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" name = "action" value="save" class="btn btn-sm text-light bg-dark"  style="width:100px; margin-left: 90%;" >저장하기</button>
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" name = "file" placeholder="테스트" accept=".xlsx, .xml">
        </div>
        
        <!-- File Section Start -->
        {% if board.file %}
        <table class="table table-sm table-hover">
            <thead>
            <tr class="text-center">
                <th style="width:45%">문서명</th>
                <th>작성자</th>
                <th>날짜</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td><a href="{% url 'App_Board:file_download' board.id %}">{{board.get_filename}}</a></td>
                    <td>{{board.post_author}}</td>
                    <td>{{board.created_date}}</td>
                    <td><button type="submit" name="action" value="delete" class="btn btn-danger"  style="width:100px;">삭제</button></td>
                </tr>
            </tbody>
        </table>
        {%endif%}
        <!-- File Section End -->
        {% if form.errors %}
        <div class="alert alert-danger">제목과 내용은 필수입니다.</div>
        {% endif %}
    </form>  
</div>
{% endblock %}
