{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <div class = "row">
        <div class = "col-lg-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="pet_weight">반려견 체중</label>
                    <input type="number" step="0.01" class="form-control" name="pet_weight" id="pet_weight" placeholder="KG 단위로 입력해주세요." value="{{ pet_diet_set.pet_weight }}">
                </div>
                <div class="mb-3">
                    <label for="pet_feed_Kcal">사료 정보</label>
                    <a href="https://tools.mypetlife.co.kr/food-calorie">참조 사이트</a>
                    <input type="number" class="form-control" name="pet_feed_Kcal" id="pet_feed_Kcal"
                    placeholder="100g당 Kcal단위로 숫자만 입력해주세요." value="{{ pet_diet_set.pet_feed_Kcal }}">
                    
                </div>
                <div class="mb-3">
                    <label for="pet_status" >반려견 상태</label>
                    <select name="pet_status" class="form-control" id="pet_status">
                        {% for i,j in pet_status_choices%}
                            {% if i == pet_diet_set.pet_status %}
                            <option value="{{ i }}" selected>{{i}}</option>
                            {% else %}
                            <option value="{{ i }}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>                    
                </div>

                <div class="mb-3">
                    <label for="pet_feed_time_B">첫 번째 급여 시간[필수]</label>
                    <input type="time" class="form-control" name="pet_feed_time_B" id="pet_feed_time_B" value="{{ pet_diet_set.pet_feed_time_B|time:'H:i' }}">
                </div>
                <div class="mb-3">
                    <label for="pet_feed_time_L">두 번째 급여 시간[필수]</label>
                    <input type="time" class="form-control" name="pet_feed_time_L" id="pet_feed_time_L" value="{{ pet_diet_set.pet_feed_time_L|time:'H:i' }}">
                </div>
                <div class="mb-3">
                    <label for="pet_feed_time_D">세 번째 급여 시간[생략 가능]</label>
                    <input type="time" class="form-control" name="pet_feed_time_D" id="pet_feed_time_D" value="{{ pet_diet_set.pet_feed_time_D|time:'H:i' }}">
                </div>                
                <button type="submit" style="width:100%; height:35px;" class="btn btn-sm text-light bg-dark mb-3">식단 정보 등록</button>
            </form>
        </div>
       
        <div class="col-lg-4">
            {% include "form_errors.html" %}
        </div>
    </div>      
</div>
{% endblock %}
