{% extends "base.html" %}
{% block content %}
<h5 class="border-bottom pb-2 mb-3">반려견 페이지</h5>
<div class="content_block">
    <div class="table-responsive">
        {% if Pet %}
        <table class="table table-sm table-hover" width = '10%'>
            <tbody class="text-center">
                <tr>
                    <th class="align-middle" scope="col">반려견 이름</th>                            
                    <td>{{ Pet.pet_name }}</td>
                </tr>
                <tr>
                    <th class="align-middle" scope="col">반려견 생일</th>
                    {% if Pet.pet_birth %}                        
                    <td>{{ Pet.pet_birth }}</td>
                    {% else %}
                    <td>생일이 등록되지 않았습니다.</td>
                    {% endif %}
                </tr>
                <tr>
                    <th class="align-middle" scope="col">반려견 몸무게</th>                        
                    <td step='0.01' >{{ Pet_diet_info.pet_weight }}KG</td>
                </tr>
                <tr>
                    <th class="align-middle" scope="col">반려견 상태</th>                        
                    <td>{{ Pet_diet_info.pet_status }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'App_Main:pet_update' %}" class="btn btn-sm text-light bg-dark" ">반려견 정보 수정</a>
            {% if not Pet_diet_info %}
            <div class="alert alert-danger">설정 카테고리에서 식단 설정을 해주세요.</div>                
            {% else %}
            <tr>
                <a href="{% url 'App_Main:pet_diet_info' %}" class="btn btn-sm text-light bg-dark" ">반려견 식단 정보 보기</a>
            </tr>
            {% endif %}
        {% else %}
        <h4> 등록된 반려견이 없습니다. 새로 등록해 주세요.</h4>
        <a href="{% url 'App_Main:pet_create' %}" class="btn btn-sm text-light bg-dark" ">반려견 정보 등록</a>
        {% endif %}

        {% if messages %}
        {% for message in messages %}
            <div class="row" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="alert alert-danger">
                <strong>{{ message.tags }}!</strong> {{ message.message }}
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>  
</div>
{% endblock %}
